= form_for @post do |f|
  .mb-3
    - if @post.errors.any?
      #error_explanation
        %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
        %ul
          - @post.errors.full_messages.each do |message|
            %li= message
  .mb-3          
    .field
      = f.label :title, class: "form-label"
      = f.text_field :title, class: "form-control form-control-lg"
  .mb-3    
    .field
      = f.label :body, class: "form-label"
      = f.text_area :body, class: "form-control", id: "exampleFormControlTextarea1"
      
  .actions
    = f.submit 'Save', class: "btn btn-primary"
